/* Carrusel */
.carrusel-slider {
  position: relative;
  width: 100%;
  height: 300px; /* Altura fija */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.slide {
  position: absolute;
  width: 75%; /* Ancho reducido */
  max-width: 500px;
  height: 250px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  transition: all 0.5s ease;
  transform: scale(0.8);
  opacity: 0.5;
}

/* Ajustar la posición y superposición de las fichas */
.slide.active {
  opacity: 1;
  transform: scale(1) translateX(0);
  z-index: 3;
}

.slide.previous {
  transform: scale(0.9) translateX(-50%); /* Más cerca */
  z-index: 2;
}

.slide.next {
  transform: scale(0.9) translateX(50%); /* Más cerca */
  z-index: 2;
}

.slide.hidden {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

/* Otros estilos */
.slide-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.slide-header h2 {
  font-size: 1.5rem;
  color: white;
  background-color: #00000055;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-header h3 {
  font-size: 1.2rem;
  color: #fff;
}

.slide ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.slide ul li {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  background-color: #4a90e2;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #357abd;
}

.progress-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.progress-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.progress-dots .dot.active {
  background-color: #4a90e2;
}

  /* Video */
  .ficmac-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: linear-gradient(to right, #f0f8ff, #cbe4f9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    gap: 20%; /* Añade un pequeño espacio entre el video y el texto */
    margin-top: 25px;
  }
  
  .ficmac-video iframe {
    width: 400px;
    height: 225px;
    border: none;
    border-radius: 10px;
  }
  
  .ficmac-info {
    max-width: 400px;
  }
  
  .ficmac-info h2 {
    color: #002855;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .ficmac-info p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin: 0;
  }
  
/* Listado de Videos */
.video-list-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .category-filter {
    margin-bottom: 30px; /* Espacio entre selector y lista */
    margin-top: 30px;
    text-align: left;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 10%; /* Espaciado entre tarjetas */
  }
  
  .video-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
  }
  
  .video-iframe {
    width: 100%;
    height: 180px; /* Proporción ajustada */
    border: none;
    border-radius: 4px;
  }
  
  .video-card h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .video-card p {
    font-size: 14px;
    color: #666;
  }
  
  /* Contenedor del botón de cargar más */
  .load-more-container {
    margin-top: 100px; /* Espacio adicional debajo de la lista */
    margin-bottom: 25px;
    text-align: center;
  }
  
  .load-more-container button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .load-more-container button:hover {
    background-color: #0056b3;
  }
  
  /* Adaptabilidad para pantallas más pequeñas */
  @media (max-width: 992px) {
    .video-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
  }
  
  @media (max-width: 600px) {
    .video-grid {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
  }
  