/* Contenedor principal */
.container {
    padding: 2rem;
    text-align: center;
    background-color: #fdfdfd;
  }
  
  /* Título */
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #ff3385; 
    margin-bottom: 2rem;
  }
  
  /* Contenedor de las tarjetas */
  .cardContainer {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: wrap; 
  }
  
  /* Estilos de cada tarjeta */
  .card {
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Contenedor de íconos */
  .iconContainer {
    background-color: #F58DAD; 
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .icon {
    height: 50px;
    width: 50px;
  }
  
  /* Título de cada tarjeta */
  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Descripción */
  .cardDescription {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  /* Enlace */
  .link {
    font-size: 0.9rem;
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  